<h5 class="text-center my-3 text-uppercase">Security App</h5>
<div class="container">
    <div class="row d-flex my-4">
        <div class="col-8">
            <div class="border rounded col-shadow py-3 px-5">
                <div class="mb-4">
                    <h5>Register</h5>
                </div>
                <div>
                    <app-register></app-register>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="border rounded col-shadow py-3 px-5">
                <div class="mb-4">
                    <h5>Login</h5>
                </div>
                <div>
                    <app-login></app-login>
                </div>
            </div>
            <div>
                <h6><a routerLink="register-list">Show Registered User</a></h6>
            </div>
        </div>
    </div>
</div>